body{
  height: 100%;
  background-color:#005405;
}


.Box_body{
    width: 100%;
    height: 100%;

    margin: 0 auto;

    border: 1px solid #400234;

    display: flex;
    position: absolute;
}


.box{
    margin: 0 auto;
    padding: 100px;

    align-content: stretch;
    float: left;
    flex-grow: 1;

    border: 1px solid #000;
    background:#8B008B;
    
}

.mini_box{
    flex-direction: column-reverse;
    align-content: stretch;
    padding: 100px; 
    margin: 8px;
    background: linear-gradient(#DAA520, #B8860B);
    border: 1px solid #000 ;
    flex-grow: 1;
    border-radius: 15px;
    overflow: hidden;
}


/* стили для drag and drop */

.hide{
    display: none;
}

.border{
    border-color: #000;
}


/* Снопка "+" */

.button{
    flex-direction: column-reverse;
    margin-left: 180px;
}